@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #010736;
  --color-surface: #0D1C42;
  --color-border: #22396F;
  --color-accent: #FCF1D0;
  --color-accent-hover: #e5d8b6;
  --color-rating: #FCF1D0;
}

body {
  background-color: #010736;
  color: #ffffff;
}

