@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #04120b;
  --color-surface: #0a2115;
  --color-border: #14402a;
  --color-accent: #fbbc04;
  --color-accent-hover: #ffd043;
  --color-rating: #fbbc04;
}

body {
  background-color: #04120b;
  color: #ffffff;
}

